.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  border: 1px solid #61dafb;
  border-radius: 8px;
  box-shadow: 
    0 0 20px rgba(97, 218, 251, 0.8),
    0 0 40px rgba(97, 218, 251, 0.6),
    0 0 60px rgba(97, 218, 251, 0.4),
    inset 0 0 20px rgba(97, 218, 251, 0.1);
  margin: 50px auto;
  padding: 40px;
  width: 600px;
  height: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
